body{
    font-family: 'Open Sans', sans-serif;
}

.banner {
    background-color: #AEB1B0;
}
.banner-column {
    background-color: #7D8285;
    
}

.navbar-container {
    background-color: #00072C;
}

.about-container {

    background-color: #201ABF;
}

