body{
    font-family: 'Open Sans', sans-serif;
}

.banner {
    background-color: #AEB1B0;
}
.banner-column {
    background-color: #7D8285;
    
}

.navbar-container {
    background-color: #00072C;
    position: sticky;
    top: 0%;
    z-index: 2;
}

.about-container {

    background-color: #201ABF;
}

.education-container {
    background-color: #ffffff;
}

.redtype {
    background-size: #201ABF;
}

.redtype-color {
    color: #201ABF;
}

.circle {
    background-color: #201ABF;
    width: 150px;
    height: 150px;
    border-radius : 50% ;
}

.project-container {
    background-color: #AEB1B0;
}

.form-container {
    background-color: #201ABF;
}